[submodule "contrib/submodules/googletest"]
	path = contrib/submodules/googletest
	url = https://github.com/google/googletest
[submodule "contrib/submodules/spdlog"]
	path = contrib/submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "contrib/submodules/unordered_dense"]
	path = contrib/submodules/unordered_dense
	url = https://github.com/martinus/unordered_dense
[submodule "contrib/submodules/enkiTS"]
	path = contrib/submodules/enkiTS
	url = https://github.com/dougbinks/enkiTS
[submodule "contrib/submodules/hlslpp"]
	path = contrib/submodules/hlslpp
	url = https://github.com/redorav/hlslpp
[submodule "contrib/submodules/mio"]
	path = contrib/submodules/mio
	url = https://github.com/vimpunk/mio
[submodule "contrib/submodules/basis_universal"]
	path = contrib/submodules/basis_universal
	url = https://github.com/BinomialLLC/basis_universal
[submodule "contrib/submodules/tomlplusplus"]
	path = contrib/submodules/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "contrib/submodules/meshoptimizer"]
	path = contrib/submodules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer
[submodule "contrib/submodules/MikkTSpace"]
	path = contrib/submodules/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace
